#a{
    background-image: linear-gradient(120deg, black 0%,white 100%);
    height:2000px;
}

#b{
    position:relative;
    border:white solid;
    height:200px;
    top:300px;
}

#c{
    position: absolute;
    height:100px;
    width:50px;
    border: white solid;
    top:20px;
}